body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: darkgray;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

section {
    background-color: lightgray;
    text-align: left;
}

img {
    opacity: 0.75;
    z-index: -1;
    animation-name: logo;
    animation-iteration-count: 2;
    animation-duration: 0.75s;
}

@keyframes logo {
    100%{transform: rotate(360deg);}
}

#layout {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1400px) {
    #layout {
        flex-direction: row;
    }

    section {
        max-width: 40%;
    }
}